notion-n8n-monthly-close/workflows/odoo/W401_CC_EXPENSE_IMPORT.json
{
  "name": "concur_expense_import",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "expense-import",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "expense-import-webhook"
    },
    {
      "parameters": {
        "url": "https://ocr.insightpulseai.net/parse",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{$json.receipt_url}}"
            }
          ]
        },
        "options": {}
      },
      "name": "OCR - Parse Receipt",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "https://erp.insightpulseai.net",
        "database": "odoo",
        "username": "admin",
        "password": "={{$credentials.odooApi.password}}",
        "resource": "hr.expense",
        "operation": "create",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "name",
              "fieldValue": "={{$json.description}}"
            },
            {
              "fieldName": "total_amount",
              "fieldValue": "={{$json.amount}}"
            },
            {
              "fieldName": "employee_id",
              "fieldValue": "={{$json.employee_id}}"
            }
          ]
        }
      },
      "name": "Odoo - Create Expense",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "odooApi": {
          "id": "1",
          "name": "Odoo API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "OCR - Parse Receipt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR - Parse Receipt": {
      "main": [
        [
          {
            "node": "Odoo - Create Expense",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo - Create Expense": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "60"
}
